@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-geist-mono: 'Geist Mono', 'monospace';
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}
